<div class="create-account" (click)="goToCreateAccount()"></div>
<div class="container-account-user">
  <div class="form-account" *ngFor="let account of accounts">
    <div class="subcontainer-account">
      <div class="subcontainer-avatar-customer">
        <img />
      </div>
      <div class="subcontainer-info-customer">
        <p>Nombre: {{ account.customer.fullName | uppercase }}</p>
        <p>Estado:{{ account.customer.state }}</p>
      </div>
    </div>
    <div class="subcontainer-account">
      <div class="subcontainer-info-customer">
        <p>Tipo de Cuenta: {{ account.accountType.name }}</p>
        <p>Estado: {{ account.state }}</p>
        <p>Balance: {{ account.balance | currency : "COP" : "$" }}</p>
      </div>
    </div>
    <div class="subcontainer-btns">
      <button
        type="button"
        class="btn btn-success"
        (click)="goToCreateDeposit(account.id)"
      >
        Depositar
      </button>
      <button
        type="button"
        class="btn btn-info"
        (click)="goToCreateTransfer(account.id)"
      >
        Transferencia
      </button>
    </div>
    <label>Tranferencias</label>
    <div class="subcontainer-btns">
      <button
        type="button"
        class="btn btn-info"
        (click)="goToHistoryOutcome(account.id)"
      >
        Historial de Salida
      </button>
      <button
        type="button"
        class="btn btn-info"
        (click)="goToHistoryIncome(account.id)"
      >
        Historial de Entrada
      </button>
    </div>
    <label>Depositos</label>
    <div class="subcontainer-btns">
      <button
        type="button"
        class="btn btn-success"
        (click)="goToHistoryDeposit(account.id)"
      >
        Historial
      </button>
    </div>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="goToAccount(account.id)"
    >
      Observar
    </button>
  </div>
</div>
