<div class="container-header-after-login">
  <nav class="nav-header-after-login">
    <button
      type="button"
      class="btn btn-primary btn-header-after-login"
      (click)="goToHomeuser()"
    >
      Home
    </button>
    <button
      type="button"
      class="btn btn-primary btn-header-after-login"
      [routerLink]="routeInfoCustomer"
      (click)="goToCustomerHome()"
    >
      Customer
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-header-after-login"
      (click)="goToAccountInfo()"
    >
      Account
    </button>
    <button
      type="button"
      class="btn btn-success btn-header-after-login"
      (click)="goToDeposits()"
    >
      Deposit
    </button>
    <button
      type="button"
      class="btn btn-danger btn-header-after-login"
      (click)="goToTransferInfo()"
    >
      Transfer
    </button>
    <button (click)="SignOut()">SignOut</button>
  </nav>
</div>
