<div class="container-iat">
  <div class="mb-3 subcontainer-iat" >
    <label for="exampleFormControlInput1" class="form-label"
      >Id Transferencia</label
    >
    <label for="exampleFormControlInput1" class="form-label">{{
      idTransfer
    }}</label>
    <label for="exampleFormControlInput1" class="form-label"
      >Nombre Receptor</label
    >
    <label for="exampleFormControlInput1" class="form-label">{{
        customerName
    }}</label>
    <label for="exampleFormControlInput1" class="form-label"
      >Email</label
    >
    <label for="exampleFormControlInput1" class="form-label">{{
        customerEmail
    }}</label>
    <label for="exampleFormControlInput1" class="form-label"
      >Mensaje</label
    >
    <label for="exampleFormControlInput1" class="form-label">{{
        reason
    }}</label>
    <label for="exampleFormControlInput1" class="form-label"
      >Monto enviado</label
    >
    <label for="exampleFormControlInput1" class="form-label">{{
        amount
    }}</label>
  </div>
</div>
