<div class="container-transfer">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">OutcomeId</th>
        <th scope="col">OutcomeDueño</th>
        <th scope="col">IncomeId</th>
        <th scope="col">IncomeDueño</th>
        <th scope="col">Mensaje</th>
        <th scope="col">Monto</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transfer of transfers">
        <th>{{ transfer.id |cutId }}</th>
        <td>{{ transfer.outcome.id |cutId }}</td>
        <td>{{ transfer.outcome.customer.fullName }}</td>
        <td>{{ transfer.income.id |cutId }}</td>
        <td>{{ transfer.income.customer.fullName }}</td>
        <td>{{ transfer.reason }}</td>
        <td>{{ transfer.amount | currency : "COP" : "$" }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            (click)="goToInfoTransfer(transfer.id)"
          >
            Observar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
