.container-transfer{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
.subcontainer-transfer{
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    width: 250px;
    padding: 20px;
    text-align: center;
}
.subdiv{
    margin-top: 10px;
    margin-bottom: 10px;
}
.input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.altoMensaje{
    font-size: 12px;
    color: red;
}