<div class="container-transfer">
  <div class="subcontainer-transfer" [formGroup]="frmFormulario">
    <div class="subdiv">
      <label>Id Cuenta de Salida</label>
      <label>{{ outcome }}</label>
    </div>
    <div class="subdiv">
      <input
        placeholder="ID cuenta a enviar"
        formControlName="income"
        class="input"
      />
    </div>
    <div
      class="altoMensaje"
      *ngIf="
        frmFormulario.get('income')?.hasError('required') &&
        frmFormulario.get('income')?.touched
      "
    >
      * El ID de la cuenta es requerido
    </div>
    <div class="subdiv">
      <input placeholder="Mensaje" formControlName="reason" class="input" />
    </div>
    <div
      class="altoMensaje"
      *ngIf="
        frmFormulario.get('reason')?.hasError('required') &&
        frmFormulario.get('reason')?.touched
      "
    >
      * El mensaje es requerido
    </div>
    <div class="subdiv">
      <input
        placeholder="Monto a enviar"
        formControlName="amount"
        class="input"
        type="number"
      />
    </div>
    <div
      class="altoMensaje"
      *ngIf="
        frmFormulario.get('amount')?.hasError('required') &&
        frmFormulario.get('amount')?.touched
      "
    >
      * El Monto es requerido
    </div>
    <div>
      <button
        type="button"
        class="btn btn-success"
        (click)="createTransfer()"
        [disabled]="frmFormulario.invalid"
      >
        Enviar transferencia
      </button>
    </div>
  </div>
</div>
