<div class="container-thi">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Dueño</th>
        <th scope="col">Monto</th>
        <th scope="col">Fecha</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let deposit of deposits">
        <th>{{ deposit.id | cutId }}</th>
        <td>{{ deposit.account.customer.fullName }}</td>
        <td>{{ deposit.amount | currency : "COP" : "$" }}</td>
        <td>{{ deposit.dateTime | date : "medium" }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            (click)="goToDepositInfo(deposit.id)"
          >
            Observar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
